{% extends "base.html" %}
{% block content %}
    <div class="auth-form">
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group remember-me">
                <div class="remember-me-container">
                    <span class="remember-me-label">{{ form.remember_me.label(class="form-label") }}</span>
                    <span class="remember-me-checkbox">{{ form.remember_me(class="form-checkbox") }}</span>
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <p class="new-user">New User? <a href="{{ url_for('auth.register') }}">Click Here to Register</a></p>
    </div>
{% endblock %}