{% extends "base.html" %}
{% block content %}
    <div class="auth-form">
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                <div class="password-container">
                {{ form.password(class="form-control") }}
                <div class="eye-icon-wrapper" onclick="togglePassword('password', 'eye-icon')">
                    <img id="eye-icon" src="{{ url_for('static', filename='images/eye2.png') }}" alt="Show Password" class="eye-icon">
                </div>
            </div>
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group remember-me">
                <div class="remember-me-container">
                    <span class="remember-me-label">{{ form.remember_me.label(class="form-label") }}</span>
                    <span class="remember-me-checkbox">{{ form.remember_me(class="form-checkbox") }}</span>
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <p class="new-user">New user? <a href="{{ url_for('auth.register') }}">Click Here to Register</a></p>
    </div>

    
    <style>
        .eye-icon {
            width: 22px;
            height: 22px;
            cursor: pointer;
        }
        .input-group {
            display: flex;
            align-items: center;
        }
        .input-group-text {
            background: white;
            border: none;
            cursor: pointer;
            padding: 5px;
        }

        .eye-icon-wrapper {
            position: absolute;
            right: 15px;
            top: 70%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 10;
        }
    </style>
    
    <script>
        function togglePassword(passwordId, iconId) {
            var passwordField = document.getElementById(passwordId);
            var icon = document.getElementById(iconId);

            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.src = "{{ url_for('static', filename='images/eye.png') }}";  // Change to hidden eye image
            } else {
                passwordField.type = "password";
                icon.src = "{{ url_for('static', filename='images/eye2.png') }}";  // Change back to visible eye image
            }
        }
    </script>
{% endblock %}