alembic
blinker
click
dnspython
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-Limiter
Flask-Talisman
Flask
Flask-WTF
idna
importlib_metadata
itsdangerous
Jinja2
Mako
MarkupSafe
PyJWT
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp
Pillow