{% extends "base.html" %}
{% block content %}
<div class="about-container">
  <h1 class="about-title">About Us</h1>
  <div class="about-content">
    <p class="about-text">
      Welcome to <strong>MonReviews</strong>!<br>
      We aim to solve the number one struggle students face when entering Monash: choosing units.<br>
      By providing a simple interface for students to rate units, you can now choose the best units for you based on real student experiences.
    </p>
  </div>
</div>
{% endblock %}