
{% extends "base.html" %}
{% block content %}
  <div class="container">
    <!-- Search Bar -->
    <div class="search-container">
      <input
        type="text"
        id="searchBar"
        placeholder="Search for a unit..."
        oninput="filterUnits()"
      />
    </div>

    <!-- Units Grid -->
    <div id="unitsGrid" class="units-grid">
      {% if units %}
        {% for unit in units %}
          <div class="unit-card" data-code="{{ unit.code }}" data-name="{{ unit.name }}" data-faculty="{{ unit.faculty }}">
            <h2>{{ unit.code }} - {{ unit.name }}</h2>
            <p>{{ unit.description }}</p>
            <p>{{ unit.faculty }}</p>
            <a href="{{ url_for('main.unit', code=unit.code) }}">View Reviews</a>
          </div>
        {% endfor %}
      {% else %}
        <p>No units available.</p>
      {% endif %}
    </div>
  </div>


  <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
{% endblock %}